

<main>
    <div class="HomeHero">
        <div class="HomeHeader">
            <h1 class="display-1">TheVetClinic</h1>
            <p class="display-5">We specialize in human & pet wellness</p>
        </div>
    </div>
    <div class="HomePresentation container">
        <div class="PresentationElem">
            <h5 class="HomeLabel">professionalità</h5>
            <p>Il nostro team è composto da professionisti riconosciuti a livello internazionale, e la nostra missione è offrire i migliori servizi di veterinaria nel territorio nazionali.</p>
        </div>
        <div class="PresentationElem">
            <h5 class="HomeLabel">collaborazione</h5>
            <p>Noi lavoriamo con te per prenderci cura dei tuoi animali. Le nostre priorità sono sempre rivolte a voi e ai vostri migliori amici.</p>
        </div>
        <div class="PresentationElem">
            <h5 class="HomeLabel">disponibilità</h5>
            <p>La nostra farmacia copre un raggio molto ampio di prodotti per migliorare la vita dei vostri animali. Contattaci in qualsiasi momento per prenotare una visita o chiedere informazioni.</p>
        </div>
    </div>
    <div class="HomeTestimonials">
        <div class="HomeTestimonialsText">
            <blockquote>
                sample text sample text sample text sample text
                sample text
                sample text
                sample text
                sample text
                sample text
                sample text
            </blockquote>
            <small style="float: right;">- Pepe</small>
        </div>
    </div>
    <form class="container HomeContacts">
        <form>
            <div class="HomeForm">
                <h3 class="HomeContactsLabel mt-3">Contattaci</h3>

                <label>Il tuo messaggio:</label>
                <textarea></textarea>
                <label>La tua mail:</label>
                <input type="email" />
                <button type="submit" class="CustomButton" style="margin-top: 1rem; width: 25%;">Invia</button>
            </div>
        </form>
    </div>

</main>