<main class="container mt-3">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Nome Prodotto</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Products.Nome</td>
                    <td class="text-center">
                        @using (Html.BeginForm("RemoveFromCart", "Cart", new { id = item.Id }))
                        {
                            <button type="submit" class="btn btn-danger">Rimuovi dal carrello</button>
                        }
                    </td>
                </tr>
            }

            <tr>
                <td colspan="2" class="text-center">
                    @Html.ActionLink("Procedi con l'ordine", "ProceedToSale", "Cart", null, new { @class = "btn btn-success" })
                </td>
            </tr>
        </tbody>
    </table>
</main>