@model List<Veterinario3.Models.Product>

@{
    ViewBag.Title = "Ordinazione";
}

<main class="container mt-3">
    <div class="row justify-content-center mb-3">
        <div class="col-md-8">
            <div class="text-center">
                <h2>Ordina</h2>
                <p>
                    @using (Html.BeginForm("Index", "Cart", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchString" placeholder="Cerca prodotto per nome">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">Cerca</button>
                            </div>
                        </div>
                    }
                </p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantità</th>
                        <th scope="col">Codice del Box</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantità)</td>
                            <td>@Html.DisplayFor(modelItem => item.Tipologia)</td>
                            <td>
                                @using (Html.BeginForm("AddToCart", "Cart"))
                                {
                                    @Html.Hidden("id", item.Id)
                                    <button type="submit" class="btn btn-success">Aggiungi al carrello</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>