@{
    ViewBag.Title = "Procedi con l'ordine";
}

<main class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card cardLogin">
                <div class="card-body card-bodyProduct">
                    <h2 class="card-title text-center">Procedi con l'ordine</h2>
                    @using (Html.BeginForm("CompleteOrder", "Cart", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <label for="codiceFiscale" class="form-label fw-bold">Codice Fiscale:</label>
                            <input type="text" id="codiceFiscale" name="codiceFiscale" class="form-control border-success" required />
                        </div>

                        if ((bool)ViewBag.HasPrescription)
                        {
                            <div class="mb-3">
                                <label for="ricetta" class="form-label fw-bold">Ricetta:</label>
                                <input type="text" id="ricetta" name="ricetta" class="form-control border-success" required />
                            </div>
                        }

                        <button type="submit" class="btn btn-success btn-block">Completa ordine</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>