@model Veterinario3.Models.Cart

@{
    ViewBag.Title = "Riepilogo Ordine";
}

<h2>Riepilogo Ordine</h2>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Products.Nome</td>

            </tr>
        }
    </tbody>
</table>
