@model IEnumerable<Veterinario3.Models.Box>

<body>
    <h2>Cassetti degli Armadietti</h2>

    <table>
        <thead>
            <tr>
                <th>Armadietto</th>
                <th>Cassetto</th>
                <th>Codice Prodotto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var box in Model)
            {
                <tr>
                    <td>@box.container.CodiceArmadietto</td>
                    <td>@box.CodiceCassetto</td>
                    <td>@box.CodiceProdotto</td>
                </tr>
            }
        </tbody>
    </table>
</body>