@model string

@{
    ViewData["Title"] = "Cerca il tuo animale";
}
<main class="container mt-3">
    <h2 class="fw-bold titoloPagina">INSERISCI IL NUMERO DEL MICROCHIP</h2>

    <form id="searchForm">
        <input type="text" id="microchipNumber" name="microchipNumber" value="@Model" />
        <button type="submit" class="btn btn-outline-success">Cerca</button>
    </form>

    <div id="animalDetails"></div>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault();
                var microchipNumber = $('#microchipNumber').val();
                $.ajax({
                    url: '@Url.Action("SearchAnimal", "Animal")',
                    type: 'POST',
                    data: { microchipNumber: microchipNumber },
                    success: function (data) {
                        $('#animalDetails').html(data);
                    }
                });
            });
        });

    </script>
}

