@model string

@{
    ViewData["Title"] = "Cerca il tuo animale";
}

<h2>Ricerca Animali</h2>

<form id="searchForm">
    <input type="text" id="microchipNumber" name="microchipNumber" value="@Model" />
    <button type="submit">Cerca</button>
</form>

<div id="animalDetails"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault();
                var microchipNumber = $('#microchipNumber').val();
                $.ajax({
                    url: '@Url.Action("SearchAnimal", "Animal")',
                    type: 'POST',
                    data: { microchipNumber: microchipNumber },
                    success: function (data) {
                        $('#animalDetails').html(data);
                    }
                });
            });
        });
    </script>
}

